.btn {
  padding: 12px 24px;
  background-color: #330072;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #a80000;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
